body{
    background-image: url("../images/fundo.png");
    width: auto;
    weight: auto;
    background-size: 100%;
}
.apresentacao{
    font-family: 'Open Sans', sans-serif;
}
footer{
    position: absolute;
    margin-left: 40%;
    bottom:0;
    text-align: center;
}
#sociais{
    font-size: 20px;
    display: inline-block;
    text-align: right;
    margin-left: 10%;
}
a:hover{
    text-decoration: none;
}
#linkedin{
    margin-right: 10px;
    font-size:16px;
}
#github{
    font-size:16px;
}

h2{
    margin-top: 0%;
    margin-left: 0%;
    text-align: left;
}
.lista-lang{
    font-size: 20px;
    font-family: 'Gluten';
}
#lang-list{
    font-size: 20px;
    text-decoration: underline black;
}
#html{
    color:red;
}
#css{
    color: blue;
}
#java{
    color: whitesmoke;
}
#javascript{
    color: black;
}
#c{
    color: whitesmoke;
    text-shadow: 1px 1px blue;
}

#titulo{
    display: inline-block;
    font-family: 'Gluten', cursive;
    text-align: center;
    color: purple;
    margin-left: 35%;
}
